<%- include('../partials/header') %>

    <h1 class="h4 mb-4 fw-bold">Chỉnh sửa bài viết</h1>

    <form method="POST" action="/posts/<%= post.id %>/edit" onsubmit="return handleSubmit()">
        <div class="mb-3">
            <label for="title" class="form-label">Tiêu đề</label>
            <input type="text" name="title" id="title" value="<%= post.title %>" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Nội dung</label>
            <textarea name="content" id="content" rows="10" class="form-control">
                <%= post.content %>
            </textarea>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" name="published" id="published" class="form-check-input" <%=post.published
                ? "checked" : "" %> />
            <label class="form-check-label" for="published">Xuất bản/ Nháp</label>
        </div>

        <button type="submit" class="btn btn-primary">Cập nhật</button>
        <a href="/posts" class="btn btn-secondary ms-2">Quay lại</a>
    </form>

    <!-- TinyMCE CDN -->
    <script src="https://cdn.tiny.cloud/1/wd6xyw5ijst0vdb2emo6md3m6lkmjeccxyzo4ym68rv2qirf/tinymce/8/tinymce.min.js"
        referrerpolicy="origin" crossorigin="anonymous"></script>

    <script>
        tinymce.init({
            selector: '#content',
            height: 300,
            menubar: false,
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Jul 31, 2025:
                'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            automatic_uploads: true,
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            images_upload_url: '/upload-image'
        });

        function handleSubmit() {
            tinymce.triggerSave(); // Make sure content is synced to <textarea>
            return true;
        }
    </script>

    <%- include('../partials/footer') %>