<%- include('../partials/header') %>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h4 fw-bold">Tất cả bài viết</h1>
        <a href="/posts/create" class="btn btn-success">+ Tạo bài</a>
    </div>

    <ul class="list-unstyled">
        <% posts.forEach(post=> { %>
            <li class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= post.title %>
                    </h5>

                    <p class="card-subtitle mb-2 text-muted"> <em> Ngày tạo:
                            <%= new Date(post.created_at).toLocaleString('vi-VN', { year: 'numeric' , month: 'long' ,
                                day: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %>
                        </em>
                    </p>
                    <div class="mt-2 d-flex gap-3">
                        <a href="/posts/<%= post.id %>/edit" class="text-primary text-decoration-underline">Chỉnh
                            sửa</a>
                        <a href="/posts/<%= post.id %>/preview" class="text-info text-decoration-underline">Xem
                            trước</a>
                        <form method="POST" action="/posts/<%= post.id %>/delete" class="d-inline"
                            onsubmit="return confirm('Bạn có chắc chắn muốn xóa bài viết này không?')">
                            <button type="submit"
                                class="btn btn-link text-danger text-decoration-underline p-0">Xoá</button>
                        </form>
                    </div>
                </div>
            </li>
            <% }) %>
    </ul>

    <%- include('../partials/footer') %>